body{
    background-color:black;
}
#container{
    background: url('background.gif');
    width:1000px;
    height:550px;
}
#hero{
    background: url('1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy1{
    background: url('1942.gif');
    background-position: -30px -10px;
    /* background-position: -50px -62px; */
    width:28px;
    height:28px;
    position:absolute;
}
.enemy2{
    background: url('1942.gif');
    background-position: -50px -62px;
    width:28px;
    height:28px;
    position:absolute;
}
.explode{
    background: url('1942.gif');
    background-position: -111px -29px;
    width:28px;
    height:28px;
    position:absolute;
}
.bullet{
    background: url('1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}
#gameover{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position:absolute;
    text-align: center;
    margin: 210px 0px 0px 350px;
    display: none;
}
#gameover h2{
    border: 3px dashed red;
    padding: 20px 20px;
    width: 150px;
    margin: 0px auto;
}
#gameover p{
    font-size: 12px;
}
#score{
    position:absolute;
    border:10px solid red;
    top:20px;
    left:800px;
    background-color:white;
    padding:10px;
    font-size:30px;
    font-family: Arial;	
}