*{
    /* outline: 1px solid white; */
}
body{
    background-color:black;
}
#container{
    background: url('assets/images/background.gif');
    width:1000px;
    height:550px;
}
#container .card{
    width: 400px;
    margin: 0px auto;
    top: 180px;
}
#container .card h2{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 15px;
}
#container .card h3{
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
}
#container .card button{
    display: inline-block;
    margin: 5px;
}
#hero{
    background: url('assets/images/1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy1{
    background: url('assets/images/1942.gif');
    background-position: -32px -8px;
    width:28px;
    height:21px;
    position:absolute; 
}
.enemy2{
    background: url('assets/images/1942.gif');
    background-position: -50px -62px;
    width:28px;
    height:28px;
    position:absolute;
}
.explode{
    background: url('assets/images/1942.gif');
    background-position: -111px -29px;
    width:28px;
    height:28px;
    position:absolute;
}
.bullet{
    background: url('assets/images/1942.gif');
    background-position: -140px -400px;
    width: 14px;
    height: 15px;
    position:absolute;
}
#gameover{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position:absolute;
    text-align: center;
    margin: 210px 0px 0px 350px;
    display: none;
}
#gameover h2{
    border: 3px dashed red;
    padding: 17px 17px;
    width: 220px;
    margin: 0px auto;
}
#gameover p{
    margin-top: 5px;
    font-size: 12px;
}
.scores{
    position:absolute;
    left:700px;
    background-color:white;
    padding:10px;
    font-size:20px;
    font-family: Arial;
    border-radius: 5px;	
}

#score1{
    border: 5px solid red;
    top:20px;
}

#score2{
    border: 5px solid blue;
    top:85px;
}